<h1>Tickets</h1>

<%= link_to 'New Ticket', new_ticket_path %>

<table>
  <tr>
    <th>Departure</th>
    <th>Arrival</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Price</th>
    <th colspan="4"></th>
  </tr>

  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.departure_date %></td>
      <td><%= ticket.arrival_date %></td>
      <td><%= ticket.origin %></td>
      <td><%= ticket.destination %></td>
      <td><%= ticket.price %></td>
      <td><%= link_to 'Show', ticket %></td>
      <% if current_user.has_role? :passenger %>
        <td><%= link_to "Book", book_ticket_path(ticket), method: :post %></td>
      <% else %>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>  
    </tr>
  <% end %>
</table>
